section
  h1 Testing Practices
  p by Nico Vogel
  aside(class='notes').
    Before we begin, this presentation contains my knowledge of testing
    and is by all means no silver bullet.
    I just hope to give you a new perspective on some testing topics.
    Just take the parts that are relevant for you.

    That being said, lets look at the agenda.

section
  h1 Agenda
  ul
    li
      a(href="#/unit-testing") Unit Testing
      ul
        li
          a(href="#/what-should-you-actually-test") What should you actually test?
        li
          a(href="#/how-to-structure-tests") How should you structure your tests?
        li
          a(href="#/higher-level-test-structures") Higher level test structures
    li
      a(href="#/e2e-testing") E2E Testing
    li
      a(href="#/tdd") TDD (test driven development)
  blockquote frontend oriented, but can be applied in backend
  aside(class='notes').
    This presentation is frontend focused, but the techniques can be applied in backend as well.
    The focus point of this presentation is on unit tests
