section
  h1 Testing Practices
  p by Nico Vogel

section
  p Quick disclaimer: This is only an introduction
  p.
    Also, this presentation contains multiple view points
    And therefore not everything can be applied at once.
  p That said, there are some musts in this presentation



section
  h1 Agenda
  ul
    li Unit Testing
    li E2E Testing
    li TDD (test driven development)
  blockquote frontend oriented, but can be applied in backend
  aside(class='notes').
    This presentation is frontend focused, but the techniques can be applied in backend as well.
    From a topic perspective, we will cover unit testing, e2e testing and
