doctype html
html
  head
    base(href='/')
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    block title
      title Testing Practices
    link(rel='stylesheet' href='dist/reset.css' type='text/css')
    link(rel='stylesheet' href='dist/reveal.css' type='text/css')
    link(rel='stylesheet' href='dist/theme/black.css' type='text/css')
    link(rel='stylesheet' href='plugin/highlight/monokai.css' type='text/css')

  body
    .reveal
      .slides
        block content
    script(src='dist/reveal.js')
    script(src='plugin/notes/notes.js')
    script(src='plugin/markdown/markdown.js')
    script(src='plugin/highlight/highlight.js')
    script.
      Reveal.initialize( {
        hash: true,
        plugins: [RevealMarkdown, RevealHighlight, RevealNotes],
      } );
