
section
  section
    h2 Contract tests
    img(class='r-stretch' src='img/cdc-testing.jpg' style='background: white')
    aside(class='notes').
      Some might know this from the backend to test micro services.

      But we often forget that whenever we mock something, then
      this also applies to our tests.

      At least the left part is usually considered when creating tests

      -> img source: https://microsoft.github.io/code-with-engineering-playbook/automated-testing/cdc-testing/

  section
    h2 Contract tests
    img(class='r-stretch' src='img/contract-tests.jpg' style='background: white')
    aside(class='notes').
      The tests for the service need to verify the contract.
      Otherwise the gap between the implementation is not filled and there is possible misalignment

  section
    h2 Contract tests
    p Its a reminder to create a test for the service with the same input you expected.
    aside(class='notes').
      This is easily forgotten that the counter part is also needed.
      Also this does result in duplication, but that is not avoidable when using mocks

